.component h1{
    text-align: center;
    padding-top: 2rem;
    font-family: 'Courier New', Courier, monospace;
}
@media (min-width:480px) and (max-width:1200px){
    .mediu{
        padding-top: 5rem;
    }
}