.component h1{
    text-align: center;
    padding-top: 2rem;
    font-family: 'Courier New', Courier, monospace;
}
@media (max-width: 480px) {
    .component{
        display: none;
    }
} 
@media (min-width: 1024px) and (max-width: 1440px){
    .mediu{
        padding-top: 9rem;
    }
}