.body{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
.bodys{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.container{
    width: 1480px;
    min-height: 500px;
    background: #fff;
    margin: 0px auto 0;
    
}
.container .box{
    position: relative;
    width: 350px;
    height: 350px;
    margin: 10px;
    box-sizing: border-box;
    border-radius: 20px;
    box-shadow: 1px 2px 4px 1px;
    display: inline-block;
}
.container .box .imgBox{
    position: relative;
    overflow: hidden;
    
}
.container .box .imgBox img{
    max-width: 100%;
    transition: transform 2s;
    border-radius: 20px;
}
.container .box:hover .imgBox img{
    transform: scale(1.2);
}
.container .box .defalis{
    position: absolute;
    top: 15px;
    left: 15px;
    bottom: 0px;
    right: 15px;
    margin: -1rem;
    transform: scaleY(0);
    background: rgba(0, 0, 0, 0.8);
    transition: transform .5s;
    border-radius: 20px;
}
.container .box:hover .defalis{
    transform: scaleY(1)

}
.container .box .defalis .content{
    position: absolute;
    top: 45%;
    transform: translateY(-50%);
    text-align: center;
    padding: 25px;
    columns: #fff;
}
.container .box .defalis .content h5{
    margin: 0;
    padding: 0;
    font-size: 20px;
    color: #ff0;
}
.container .box .defalis .content p{
    margin: 10px 0 0;
    padding: 0;
    color: rgb(238, 232, 232);
}
.container .box .defalis .content h2{
    color: rgb(248, 248, 245);
}
.container .box .defalis .content h4{
    padding-top: 20px;
    color: rgb(245, 245, 243);
}
.and{
	margin-top: 2rem;
    background-image: url('../image/slaid/z.jpg');
	padding-top: 2rem;
	height: 43vh;
}

.tex{
	text-align: center;
    font-family: 'Times New Roman', Times, serif;
	color: white;
}
.cont{
	
	height: 11vh;
	text-align: center;

}
.cont button{
	background-color: rgba(172, 119, 119, 0.301);
	border-radius: 10px;
	border-color: rgba(15, 14, 14, 0.733);
	
}
.cont button:hover{
	background-color: rgb(214, 141, 141);
	transition: .7s;
}
.cont p{
	font-size: 28px;
	color: rgb(247, 245, 243);
	font-family: 'Times New Roman', Times, serif;
}
.cont a{
	text-decoration: none;
	font-size: 20px;
	color: rgb(245, 240, 240);
	font-family: Arial, Helvetica, sans-serif;
}

.df{
    display: flex;
    justify-content: space-around;
	
}
.contend{
	display: flex;
	justify-content: space-around;
	width: 95%;
}
.contend h5{
	color: rgba(209, 255, 6, 0.644);
}	
.contend li{
	list-style: none;
}
.contend a{
	text-decoration: none;
	color: rgb(243, 242, 242);
	font-size: 18px;
}
.icons a{
	display: block;
}
.icons a:hover{
    transform: scale(1.4);
    transition: .7s;
    color: #11f037;
}
@media (max-width: 480px) {
    .container{
        padding: 0;
        text-align: center;
    }
	.cont button{
		display: none;
	}
	.contend{
		padding: 0;
		display: block;
		text-align: start;
        margin: 18px;
	}
	.and{
		height: 70vh;
	}
	.icons{
		margin: 0;
		display: flex;
        flex-direction: row;
	}
    .cont{
		display: none;
	}
	.tex{
		width: 80%;
		padding-left: 5rem;
	}
}
@media (min-width: 1024px) and (max-width: 1440px){
    .container{
        padding: 0;
        text-align: center;
    }
    .and{
		height: 47vh;
	}
}