// .textcols {
// 	white-space: nowrap;
// 	font-size: 0;
// }
// .textcols_item {
// 	white-space: normal;	
// 	display: inline-block;
// 	width: 30%;
// 	vertical-align: top;
// 	background: #fff2e1;
// 	margin-right: 5%;
// 	font-size: 14px;
// }
// .textcols .textcols_item:last-child {
// 	margin-right: 0 ;
// }
// .text{
// 	text-align: center;
//     padding-top: 2rem;
//     font-family: 'Courier New', Courier, monospace;
// }

.text_comp{
	width: 90%;
 	padding: 40px;
	 font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}