.menu{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: DMSans;
    padding-top: 1rem;
}
.menu li{
    list-style: none;
    text-decoration: none;
    font-size: 22px;
}

.menu button{
    padding: 7px 20px;
    
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 15px;
}
.menu button:hover{
    background: #772204;
    transition: .7s;
}
.menu a{
    text-decoration: none;
    color: black;
}
// .menu a::after,
// .menu a ::before{
//     content: '';
//     position: absolute;
//     left: 0;
//     display: inline-block;
//     height: 1em;
//     width: 100%;
//     margin-top: 10px;
//     opacity: 0;
//     -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
//     transition: opacity 0.35s, transform 0.35s;
// }
// .menu a ::before{
//     border-left: 1px solid;
//     border-right: 1px solid;
//     -webkit-transform: scale(1,0);
//     transform: scale(1,0);
// }
// .menu a ::after{
//     border-bottom: 1px solid;
//     border-top: 1px solid;
//     -webkit-transform: scale(0,1);
//     transform: scale(0,1);
//   }
// .menu a :hover ::after,
// .menu a :hover ::after{
//     opacity: 1;
//     -webkit-transform: scale(1);
//     transform: scale(1);
// }

