.and{
	margin-top: 2rem;
    background-image: url('../../image/slaid/z.jpg');
	padding-top: 2rem;
	height: 43vh;
}

.tex{
	text-align: center;
    font-family: 'Times New Roman', Times, serif;
	color: white;
}
.cont{
	
	height: 11vh;
	text-align: center;

}
.cont button{
	background-color: rgba(172, 119, 119, 0.301);
	border-radius: 10px;
	border-color: rgba(15, 14, 14, 0.733);
	
}
.cont button:hover{
	background-color: rgb(214, 141, 141);
	transition: .7s;
}
.cont p{
	font-size: 28px;
	color: rgb(247, 245, 243);
	font-family: 'Times New Roman', Times, serif;
}
.cont a{
	text-decoration: none;
	font-size: 20px;
	color: rgb(245, 240, 240);
	font-family: Arial, Helvetica, sans-serif;
}

.df{
    display: flex;
    justify-content: space-around;
	color: rgba(209, 255, 6, 0.644);
}
.contend{
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 95%;
}	
.contend li{
	list-style: none;
}
.contend a{
	text-decoration: none;
	color: rgb(243, 242, 242);
	font-size: 18px;
}
.icons a{
	display: block;
}
.icons a:hover{
    transform: scale(1.4);
    transition: .7s;
    color: #11f037;
}